#!/usr/bin/make -f

%:
	dh $@ --no-automatic-dbgsym

override_dh_auto_build:
	tar -xzf rustdesk_raw.tar.gz

override_dh_auto_install:
	dpkg-deb --build tmpdeb .
	dpkg-deb -x rustdesk.deb debian/rustdesk/

override_dh_builddeb:
	# Use the pre-built .deb
	cp rustdesk.deb ../

override_dh_shlibdeps:
	# Skip - dependencies already in tmpdeb/DEBIAN/control
	true
